@import "src/styles/variables.scss";

.items {
  // border: $test1;
  display:flex;
}

.page-loading {
  // height: 100vh;
  width: 100vw;
  background-color: silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

