@import "src/styles/variables.scss";

.homepage-layout {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .main-image {
    width: 90%;
    max-height: 45vw;
  }

  .text-under-image {
    // border: $test3;
    width: 70%;
    margin: auto;
    font-family: Raleway, sans-serif;
    padding-top: 20px;
  }
  
  .map-and-info {
    // border: $test3;
    display: flex;
    width: 70%;
    margin: auto;
  }
  .data-title {
    font-size: 1.1em;
    font-weight: 600;
  }

  .paragraph-data {
    text-align: justify;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16px;
    line-height: 1.6;
  }

  .location-and-hours {
    // border: $test3;
    width: 50%;
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: flex-start;
    line-height: 130%;
  }
  
  .l-h-info {
    display: flex;
    flex-direction: column;
  }

  .location, .hours {
    text-decoration: underline;
    margin-right: 1em;
  }

  .complimentary-info {
    font-family: Raleway, sans-serif;
    width: 70%;
    margin: auto;
  }
}



@media only screen and (max-width: 960px) {
  .text-under-image, .complimentary-info { 
    width: 80%;
  }
  
  .map-and-info {
    flex-direction: column;
    width: 80%;

    .location-and-hours {
      width: 100%;

      .location {
        margin-right: 2em;
      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .homepage-layout {

    .text-under-image, .complimentary-info { 
      width: 80%;
    }

    .data-title {
      font-size: 0.85em;
      text-align:justify;
    }
  
    .paragraph-data {
      font-size: 0.75em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

    .map-and-info {
      flex-direction: column;
      width: 80%;
  
      .location-and-hours {
        width: 100%;
      }
  
      .location, .hours, .l-h-info {
        font-size: 0.7em;
      }
    }
  }
}