body {
  margin: 0;
}

.name {
  font-size: 26px;
}

.nav-bar {
  // color: white;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.logo-to-name {
  display: flex;
}
.logo-image {
  margin: 0.3em 0.5em 0.3em 1.5em;
  width: 85px;
  &:hover {
    cursor: pointer;
  }
}

.logo {
  color: #111;
  display: flex;
  align-items: center;
  font-family: Railway, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .01em;

  &:hover {
    cursor: pointer;
  }
}

.all-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-and-right-navs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-buttons {
  margin-left: 1em;
  height: 70px;
  text-align: center;
  font-family: Railway, sans-serif;
  border: none;
  color: black;
  background-color: white;
  font-size: 14px;
  letter-spacing: .01em;
  &:hover {
    color: black;
    border-radius: 0px 8px 0px 8px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
    .navlink {
      color: black;
    }
  }
}

.contact-info {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  background-color: #dcdcdc;
  margin-top: -15px;
  padding: 5px;
  border-radius: 10px;
}

.last-one {
  margin-right: 2em;
}


.below-nav {
  color: #605d5f;
  background-color: #f2f0f0;
  width: 100%;
  font-size: 11px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  border-radius: 9px;
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 4px;
  vertical-align: top;
  margin-left: -8px;
  font-weight: bolder;
}

