@import "src/styles/variables.scss";

.not-exist-page {
  font-family: Semplicita,Arial,sans-serif;
  color: #362d2e;
  min-height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .data-title-main {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
  }

  .data-title {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .not-exist-page {
    padding-top: 2em;
    justify-content: flex-start;

    .data-title-main {
      font-size: 1.2em;
    }

    .data-title {
      font-size: 1em;
    }
  
  }
}