@import "src/styles/variables.scss";

.admin-inventory-page-main {
  // border: $test1;
  padding: 20px 20px;
  min-height: 78vh;
  width: 90%;
  margin:auto;

  .admin-title {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.admin-inventory-page {
  // border: $test;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-barcode-set-qty {
  // border: $test1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  .search-barcode-form {
    // border: $test3;
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    .barcode-input {
      margin-right: 2em;
    }
    .btn-inventory-search {
      margin-right: 1em;
    }
  }

  .set-qty-form {
    // border: $test1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .set-qty {
    // border: $test3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  .btn-add-qty {
    margin-top: 1em;
    width: 160px;
  }
}

// ----------------------------------------

.inventory-section {
  width: 100%;

  .admin-inventory-title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 2em;
  }

  th {
    font-size: 1.3em;
  }

  .select {
    background-color: navy;
    color: white;
  }

  .row-cell {
    font-size: 1.2em;
  }
  .barcode-cell {
    font-size: 1.2em;
  }
  .size-cell {
    font-size: 1.2em;
  }
  .item-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    .inventory-image {
      width:80px;
      height:80px;
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0.5em;

      .sku {
        font-size: 0.8em;
        margin-bottom: 0.5em;
      }
    }
  }
}

@media only screen and (max-width: 960px) {

  .admin-inventory-page-main {
    width: 100%;
    
    .admin-title {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 1em;
    }
  }

  .search-barcode-set-qty {

    flex-direction: column;
    padding: 0.5em;
  
    .search-barcode-form {
      width: 100%;
    
      .barcode-input, .new-qty-input {
        margin-right: 1em;
        font-size: 0.9em;
      }
      .btn-inventory-search {
        margin-right: 0.5em;
        font-size: 0.9em;
        width: 110px;
      }
      .btn-inventory-reset {
        margin-right: 0.2em;
        font-size: 0.9em;
        width: 110px;
      }
    }
  
    .set-qty-form {
      width: 100%;
    }
  
    .set-qty {
      margin-top: 1em;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  
    .btn-add-qty {
      margin: 0em;
      margin-left: 3.3em;
      font-size: 0.9em;
      width: 160px;
    }
  }
  .inventory-section {
  
    .admin-inventory-title {
      // font-size: 1.2em;
      // font-weight: 600;
      margin-bottom: 1em;
    }
  
    th {
      font-size: 0.8em;
    }
  
    .row-cell {
      font-size: 1em;
    }
    .barcode-cell {
      font-size: 1em;
    }
    .size-cell {
      font-size: 1em;
    }
    .item-cell {  
      .inventory-image {
        width:50px;
        height:50px;
      }

      .item-name {
        font-size: 0.9em;
      }
  
      .details {
        margin-left: 0.2em;
  
        .sku {
          font-size: 0.7em;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .admin-inventory-page-main {
    padding: 20px 0px;

    .admin-title {
      font-size: 0.7em;
    }
  }

  .search-barcode-set-qty {
    padding: 0.2em;
  
    .search-barcode-form {
      width: 100%;
    
      .barcode-input, .new-qty-input {
        margin-right: 0.7em;
        font-size: 0.7em;
      }
      .btn-inventory-search {
        padding: 9px 9px;
        margin-right: 0.5em;
        font-size: 0.6em;
        width: 90px;
      }
      .btn-inventory-reset {
        padding: 9px 9px;
        margin-right: 0.2em;
        font-size: 0.6em;
        width: 90px;
      }
    }
  
    .set-qty {
      margin-top: 0.5em;
    }
  
    .btn-add-qty {
      padding: 9px 9px;
      margin-left: 1.3em;
      font-size: 0.6em;
      width: 140px;
    }
  }

  .inventory-section {
  
    .admin-inventory-title {
      font-size: 1em;
      margin-bottom: 0.6em;
    }
  
    th {
      font-size: 0.7em;
    }
  
    .row-cell {
      font-size: 0.7em;
    }
    .barcode-cell {
      font-size: 0.7em;
    }
    .size-cell {
      font-size: 0.7em;
    }
    .item-cell {  

      flex-direction: column;

      .inventory-image {
        width:50px;
        height:50px;
        margin-bottom: 0.5em;
      }

      .item-name {
        font-size: 0.7em;
      }
  
      .details {
        .sku {
          font-size: 0.6em;
        }
      }
    }
  }
}