@import "src/styles/variables.scss";

.admin-inventory-page-main {
  // border: $test2;
  padding: 20px 20px;
  min-height: 78vh;
  height: 100%;
  min-width: 300px;
  width: 90vw;
  margin:auto;
  margin-top:120px;
}

.admin-inventory-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-barcode-set-qty {
  // border: $test;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;

  .search-barcode {
    // border: $test;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .set-qty {
    border: $test;
    width: 50%;
  }
}



.search-barcode-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;

  .barcode-input {
    margin-right: 2em;
    margin-bottom: 1em;
  }
}

.set-qty-form {
  // border: $test;
  
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-add-qty {
  margin-top: 1em;
  padding: 0.5em 1em;
  width: 15vw;
}

// ----------------------------------------

.inventory-section {
  width: 100%;

  th {
    font-size: 1.3em;
  }

  .select {
    background-color: navy;
    color: white;
  }

  .barcode-cell {
    font-size: 1.2em;
  }
  .size-cell {
    font-size: 1.2em;
  }
  .item-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0.5em;

      .sku {
        font-size: 0.8em;
        margin-bottom: 0.5em;
      }
    }

  }
}

