@import "src/styles/variables.scss";

.admin-orders-page-main {
  // border: $test2;
  padding: 20px 20px;
  min-height: 78vh;
  width: 90%;
  margin:auto; 

  .admin-title {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 3em;
  }
}

.admin-orders-page {
  // border: $test3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.order-date-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2em;
}

.o-data-range-select {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.btn-display {
  margin-top: 1em;
  padding: 7px 10px;
  width: 160px;
}

.date-picker-to {
  margin-left: 1em;
  margin-right: 1em;
}

.orders-section {
  width: 100%;

  .customer-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.o-title {
  font-size: 1.2em;
  font-weight: 600;
}

.o-icon {
  font-size: 0.7em;
}
.o-num {
  font-size: 1em;
}
.o-date {
  font-size: 1em;
}
.customer-info {
  font-size: 1em;
}
.o-total {
  font-size: 1.1em;
}
.o-address {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

@media only screen and (max-width: 960px) {

  .admin-orders-page-main {
  
    .admin-title {
      font-size: 1.2em;
      margin-bottom: 2em;
    }

    .order-date-form {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .btn-display {
      margin-top: 1em;
      padding: 7px 10px;
      width: 180px;
    }
  }

  .o-title {
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {

  .admin-orders-page-main {
    padding: 20px 0px;

    .admin-title {
      font-size: 1em;
    }
  }

  .date-picker-to {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .o-title {
    font-size: 0.8em;
  }
}