@import "src/styles/variables.scss";

.admin-product-page-main {
  // border: $test;
  padding: 20px 20px;
  min-height: 78vh;
  width: 95%;
  margin:auto;

  .admin-title {
    font-size: 1.2em;
    font-weight: 600;
  }
  .admin-edit-add-title {
    font-size: 1.6em;
    font-weight: 600;
  }
  .size-barcode-title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
  }
}

.admin-product-page {
  // border: $test;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.search-sku {
  // border: $test1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.search-sku-form {
  // border: $test2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .sku-feild {
    margin-right: 2em;
  }
  .btn-sku-search {
    margin-right: 1em;
  }
}

// ----------------------------------------

.edit-item-section {
  // border: $test;
  width: 100%;
}

.edit-item-form, .add-item-form {
  // border: $test1;
  width: 100%;

  .edit-item-form-header, .add-item-form-header {
    // border: $test3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-error {
      // border: $test2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .btn-edit-product, .btn-add-product {
      padding: 10px 10px;
      width: 10em;
      font-size: 1.1em;
    }

  }

  .edit-top-body {
    // border: $test;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .edit-top-left {
    // border: $test3;
    display: flex;
    flex-direction: column;
    width: 40vw;

    .name-price {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2em;
  
      .name-feild {
        width: 60%;
      }
      .price-feild {
        width: 40%;
      }
    }

    .description-feild {
      // border: $test2;
      margin-bottom: 2em;
    }

    .category-style-color {
      // border: $test2;
      display: flex;
      width: 100%;

      .category-feild {
        width: 30%;
      }
      .style-feild {
        width: 30%;
      }
      .color-feild {
        width: 30%;
      }
    }

  }

  .edit-top-right {
    // border: $test3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;

    .image-loading {
      // border: $test2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .add-item-image-group {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .loading-image-sign {
        width: 20%;
      }
    }

    .checkbox-display {
      // border: $test;
      width: 100%;
    }
  }

  .image-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1em;

    .img-preview-part {
      margin-left: 1em;
      margin-right: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-preview {
      margin-left: 1em;
      margin-right: 1em;
    }

    .erase-image {
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}



.add-item-section {
  // border: $test;
  width: 100%;
}

.add-item-form {
  // border: $test1;


  .add-top-body {
    // border: $test;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .add-top-left {
    // border: $test3;
    display: flex;
    flex-direction: column;
    width: 40vw;

    .name-price {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2em;
  
      .name-feild {
        width: 60%;
      }
      .price-feild {
        width: 40%;
      }
    }

    .category-style-color {
      // border: $test2;
      display: flex;
      width: 100%;
      margin-bottom: 2em;

      .category-feild {
        width: 30%;
      }
      .style-feild {
        width: 30%;
      }
      .color-feild {
        width: 30%;
      }
    }

  }

  .add-top-right {
    // border: $test3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;

    .image-loading {
      // border: $test2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .add-item-image-group {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .loading-image-sign {
        width: 20%;
      }
    }

    .checkbox-display {
      width: 100%;
    }
  }

  .image-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1em;

    .img-preview-part {
      margin-left: 1em;
      margin-right: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-preview {
      margin-left: 1em;
      margin-right: 1em;
    }

    .erase-image {
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

.size-table {
  // margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  // align-items: flex-start;
  justify-content: flex-start;
}

.old-sizes {
  // border: 1px solid black;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em;
  width: 40vw;
}

.new-sizes {
  // border: 1px solid black;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em;
  width: 40vw;
}

.edit-size-row {
  // margin-bottom: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-admin-page {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  // display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1em;
  width: 120px;
  // white-space: noWrap;

  &:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  &:focus {
    box-shadow:none;
    transform:none;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  white-space: noWrap;

  &:hover {
    background-color: rgb(207, 245, 207);
  }
}

@media only screen and (max-width: 960px) {

  .admin-product-page-main {
    width: 100%;
    
    .admin-title {
      font-size: 1em;
      margin-bottom: 1em;
    }
    .admin-edit-add-title {
      font-size: 1.3em;
      font-weight: 600;
    } 

    .size-barcode-title {
      font-size: 1em;
      font-weight: 400;
    }

    .search-sku {
      padding: 0;
    }

    .edit-top-body, .add-top-body{
      flex-direction: column;
      
      .edit-top-left, .add-top-left {
        width: 100%;
      }
      .edit-top-right, .add-top-right {
        width: 100%;
      }

    }
    

  }
  
  
  .search-sku-form {
    .sku-feild {
      margin-right: 1em;
      font-size: 0.9em;
    }
    .btn-sku-search {
      padding: 7px 7px;
      margin-right: 0.5em;
      font-size: 0.9em;
      width: 110px;
    }
    .btn-sku-reset {
      padding: 7px 7px;
      margin-right: 0.2em;
      font-size: 0.9em;
      width: 110px;
    }
  }

  .edit-item-form, .add-item-form {
    padding: 0;
    .edit-item-form-header, .add-item-form-header {
      .btn-edit-product, .btn-add-product {
        padding: 7px 7px;
        width: 9em;
        font-size: 0.9em;
      }
    }
  }

  .size-table {
    flex-direction: column;
    align-items: center;

    .new-sizes, .old-sizes {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 500px) {

  .admin-product-page-main {
    padding: 20px 0px;

    .admin-title {
      font-size: 0.7em;
    }
    .admin-edit-add-title {
      font-size: 1em;
      font-weight: 600;
    }

    .size-barcode-title {
      font-size: 0.7em;
      font-weight: 400;
    }

    .text-preview {
      font-size: x-small;
    }

    img {
      width: 60px;
      height: 60px;
    }

  }

  .search-sku-form {
  
    .sku-feild {
      margin-right: 0.3em;
      font-size: 0.7em;
    }
    .btn-sku-search {
      margin-right: 0.5em;
      font-size: 0.7em;
      width: 90px;
    }
    .btn-sku-reset {
      margin-right: 0.2em;
      font-size: 0.7em;
      width: 90px;
    }
  }

  .edit-item-form, .add-item-form {
    padding: 0;
    .edit-item-form-header, .add-item-form-header {
      .btn-edit-product, .btn-add-product {
        padding: 7px 7px;
        width: 8em;
        font-size: 0.8em;
      }
    }
  }

}