@import "src/styles/variables.scss";

.admin-product-page-main {
  // border: $test;
  padding: 20px 20px;
  min-height: 78vh;
  height: 100%;
  width: 90vw;
  margin:auto;
  margin-top:120px;
}

.admin-product-page {
  // border: $test;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-sku {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.search-sku-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;

  .sku-feild {
    margin-right: 2em;
  }
}

// ----------------------------------------

.edit-item-section {
  // border: $test;
  width: 100%;
}

.edit-item-form {
  // border: $test1;
  margin: 2em;

  .edit-item-form-header {
    // border: $test3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-error {
      // border: $test;
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .btn-edit-product {
      padding: 10px 10px;
      width: 10em;
      font-size: 1.1em;
    }

  }

  .edit-top-body {
    // border: $test;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .edit-top-left {
    // border: $test3;
    display: flex;
    flex-direction: column;
    width: 40vw;

    .name-price {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2em;
  
      .name-feild {
        width: 60%;
      }
      .price-feild {
        width: 40%;
      }
    }

    .description-feild {
      // border: $test2;
      margin-bottom: 2em;
    }

    .category-style-color {
      // border: $test2;
      display: flex;
      width: 100%;

      .category-feild {
        width: 30%;
      }
      .style-feild {
        width: 30%;
      }
      .color-feild {
        width: 30%;
      }
    }

  }

  .edit-top-right {
    // border: $test3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;

    .image-loading {
      // border: $test2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .add-item-image-group {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .loading-image-sign {
        width: 20%;
      }
    }

    .checkbox-display {
      width: 100%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  .image-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1em;

    .img-preview-part {
      margin-left: 2em;
      margin-right: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-preview {
      margin-left: 1em;
      margin-right: 1em;
    }

    .erase-image {
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}



.add-item-section {
  // border: $test;
  width: 100%;
}

.add-item-form {
  // border: $test1;
  margin: 2em;

  .add-item-form-header {
    // border: $test3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-error {
      // border: $test;
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .btn-add-product {
      padding: 10px 10px;
      width: 10em;
      font-size: 1.1em;
    }
  }

  .add-top-body {
    // border: $test;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .add-top-left {
    // border: $test3;
    display: flex;
    flex-direction: column;
    width: 40vw;

    .name-price {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2em;
  
      .name-feild {
        width: 60%;
      }
      .price-feild {
        width: 40%;
      }
    }

    // .description-feild {
    //   border: $test2;
    // }

    .category-style-color {
      // border: $test2;
      display: flex;
      width: 100%;
      margin-bottom: 2em;

      .category-feild {
        width: 30%;
      }
      .style-feild {
        width: 30%;
      }
      .color-feild {
        width: 30%;
      }
    }

  }

  .add-top-right {
    // border: $test3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;

    .image-loading {
      // border: $test2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .add-item-image-group {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .loading-image-sign {
        width: 20%;
      }
    }

    .checkbox-display {
      width: 100%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  .image-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1em;

    .img-preview-part {
      margin-left: 2em;
      margin-right: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-preview {
      margin-left: 1em;
      margin-right: 1em;
    }

    .erase-image {
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

.size-table {
  // margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  // align-items: flex-start;
  justify-content: flex-start;
}

.old-sizes {
  // border: 1px solid black;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em;
  width: 40vw;
}

.new-sizes {
  // border: 1px solid black;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em;
  width: 40vw;
}

.edit-size-row {
  margin-bottom: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-admin-page {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  // display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1em;
  width: 120px;
  // white-space: noWrap;

  &:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  white-space: noWrap;

  &:hover {
    background-color: rgb(207, 245, 207);
  }
}