@import "src/styles/variables.scss";

.admin-product-page-main {
  // border: $test;
  padding: 20px 20px;
  min-height: 78vh;
  height: 100%;
  width: 90vw;
  margin:auto;
  margin-top:120px;
}

.admin-product-page {
  // border: $test;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.search-sku {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.search-sku-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

// ----------------------------------------

.add-item-section {
  width: 100%;
}

.add-item-form {
  margin: 2em;
}

.name-price {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  // align-items: center;
  justify-content: start;
}

.add-item-price {
  white-space: nowrap;
}

.checkbox-display {
  white-space: nowrap;
}

.images-category-style-color {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 2em;
}

.category-style-color {
  display: flex;
  flex-direction: column;
  // margin-bottom: 4em;
  margin-right: 5em;
}

.image-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item-image-group {
  margin-top: 2em;
  // margin-bottom: 2em;
}

.image-select {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 1em;
}

.img-preview-part {
  margin-left: 2em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-preview {
  margin-left: 1em;
  margin-right: 1em;
}

.erase-image {
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.description-section {
  // margin-top: 1em;
  margin-left: 5em;
}

.size-table {
  // margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  // align-items: flex-start;
  justify-items: start;
}

.old-sizes {
  // border: 1px solid black;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em;
  width: 40vw;
}

.new-sizes {
  // border: 1px solid black;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em;
  width: 40vw;
}

.edit-size-row {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.button-error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.btn-admin-page {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  // display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1em;
  width: 120px;
  // white-space: noWrap;

  &:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
}

.input-feild {
  padding-right: 2em;
  margin-bottom: 3em;
}

.name-feild {
  width: 20em;
}
.price-feild {
  width: 5em;
}
.category-feild {
  width: 10em;
}
.style-feild {
  width: 10em;
}
.color-feild {
  width: 10em;
}
.description-feild {
  width: 25em;
}
.size-feild {
  margin-right: 2em;
}
.barcode-feild {
  width: 50em;
  margin-right: 2em;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  white-space: noWrap;

  &:hover {
    background-color: rgb(207, 245, 207);
  }
}

.btn-add-product {
  padding: 10px 10px;
  width: 160px;
  font-size: 18px;
  margin-left: 2em;
  margin-bottom: 3em;
}

.btn-edit-product {
  padding: 10px 10px;
  width: 160px;
  font-size: 18px;
  margin-left: 2em;
  margin-bottom: 3em;
}