@import "src/styles/variables.scss";

.admin-reviews-page-main {
  // border: $test2;
  padding: 20px 20px;
  min-height: 78vh;
  height: 100%;
  width: 90vw;
  margin:auto;
  margin-top:120px;
}

.admin-reviews-page {
  // border: $test1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .head-group {
    display: flex;
    // border: $test2;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .product-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-bottom: 1em;
  }

  th {
    font-size: 1.3em;
  }

  .post-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .rate {
    color: DarkOrange;
    font-size: 1.2em;
  }
  .headline {
    color: DarkCyan;
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .comments {
    color: MediumSeaGreen;
    font-size: 1.2em;
  }
  .date {
    font-size: 1.2em;
  }

  .btn-review-save {
    padding: 10px 10px;
    width: 160px;
    font-size: 18px;

    :disabled {
      background-color: grey;
    }
  }

}

// .search-barcode-set-qty {
//   // border: $test;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 1em;
// }

// .search-barcode {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .search-barcode-form {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 1em;
// }

// .set-qty-form {
//   display: flex;
//   padding: 1em;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }

// .btn-add-qty {
//   margin-top: 1em;
//   padding: 7px 10px;
//   width: 160px;
// }

// // ----------------------------------------

// .inventory-section {
//   width: 100%;

//   th {
//     font-size: 18px;
//   }

//   .select {
//     background-color: limegreen;
//   }
// }

// .even-row-inventory {
//   background-color: Gainsboro;
// }
