@import "src/styles/variables.scss";

.admin-dashboard-page-main {
  // border: $test2;
  padding: 20px 20px;
  min-height: 78vh;
  height: 100%;
  width: 90vw;
  margin:auto;
  margin-top:120px;
}

.dashboard-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-bar-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barchart {
  border: $test2;
  border-radius: 10%;
  width: 50vw;
  margin: 2em;
  padding: 0.2em 5em;
  align-self: center;
}