@import "src/styles/variables.scss";

.admin-dashboard-page-main {
  // border: $test2;
  padding: 20px 20px;
  min-height: 78vh;
  height: 100%;
  width: 90vw;
  margin:auto;
  margin-top:120px;
}

.admin-dashboard-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.two-bar-row {
  display: flex;
  justify-content: center;
  align-items: center;

  .product-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3em;
    padding-bottom: 2em;
  }
  .sale-chart {
    border-left: 2px solid darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    padding-bottom: 2em;
  }
  .color-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3em;
    padding-top: 2em;
  }
  .size-chart {
    border-left: 2px solid darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    padding-top: 2em;
  }
}

.top-two {
  border-bottom: 2px solid darkgreen;
}

.barchart {
  width: 30vw;
  // height: 500vh;
}
