@import "src/styles/variables.scss";

.login-modal {
  font-family: Semplicita,Arial,sans-serif;  
  border: 0.5px solid LightSlateGray;
  background-image: url("./../../../public/login-back.png");
  background-size: cover;
  height: 60%;
  width: 50%;
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-section {
  width: 50%;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid LightSlateGray;
  width: 50%;
  height: 90%;

  .title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .line-2 {
    font-size: 0.8em;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.login-error {
  color: red;
  font-size: 0.7em;
  padding-bottom: 0.5em;
}

.login-button {
  font-weight: 450;
  background-image: linear-gradient(#fbd72b, #f9484a);
  box-shadow: 0 2px 2px grey;
  color: white;
  cursor: pointer;
  padding: 0.6em 1.2em;
  text-align: center;
  text-decoration: none;
  border: none;

  font-size: 1.2em;

  width: 60%;
  margin-top: 2em;

  &:hover {
    background-image: linear-gradient( #f9484a, #fbd72b);
    color: black;
  }
}

.btn-go-back-login {
  font-weight: 450;
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 1em;
  color: orangered;
  cursor: pointer;
  padding: 0.6em 1.2em;
  border: none;
  background: transparent;
  &:hover {
    color: white
  }
  display: none;
}

@media only screen and (max-width: 960px) {

  .login-modal {
    height: 60%;
    width: 70%;
    .left-section {
      display: none;
    }
    .right-section {
      width: 100%;
    }
  
    .btn-go-back-login {
      display: block;
    }
  }
}

@media only screen and (max-width: 500px) {

  .login-modal {

    .title {
      font-size: 1.3em;
    }

    .line-2 {
      font-size: 0.6em;
    }

    .btn-go-back-login {
      font-size: 1.1em;
    }
  }


}
