.overlay-style {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.background {
  width: 70%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  position: relative;
  color: black;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.notes-and-shopping-button{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 30px;
  padding-top: 25%;
}

.cart-main-layout {
  padding: 10px 10px 10px 10px;
}

.item-number, .timer {
  font-size: 16px;
  font-weight: bold;
  padding-left: 30px;
  font-size: 19px;
  &.item-number {
    color: #eb8102;
    padding-top: 8px;
  }
  &.timer {
    color: green;
  }
}

.cart-title {
  text-align: center;
  font-size: 25px;
}

.headers {
  text-align: left;
  font-size: 19px;
}

.image-to-data {
  display: flex;
  flex-direction: row;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.data-below-name {
  color: rgb(78, 78, 78);
}

.remove-button {
  color: red;
  border: none;
  background-color: white;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.quantity-and-price {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: black;
}

.align-top-shopping {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.continue-shopping,
.top-continue-shopping {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 14px;
  background-color: #ff8c00;
  margin-top: 1em;
  // padding: 0 12px;
  border: none;
  border-radius: 4px;
  position: relative;
  height: 30px;
  line-height: 30px;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  &.top-continue-shopping {
    padding: 0 12px;
  }
}

.total-and-sub {
  display: flex;
  justify-content: space-between;
}

.checkout-and-shopping {
  display: flex;
  flex-direction: column-reverse;
  width: 30%;
  margin: auto;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}

.totals {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.total-end-price {
  color: #eb8102;
}
