@import "src/styles/variables.scss";

.overlay-style {
  font-family: Raleway, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.background {
  width: 70%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  position: relative;
  color: black;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.notes-and-shopping-button {
  // border: $test;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 30px;
  padding-top: 25%;
}

.cart-main-layout {
  // border: $test;
  padding: 10px;

  .btn-plus-minus {
    border            :none;
    font-size         : 0.9em;
    color             : black;
    background-color  : transparent;
    cursor          : pointer;

    &:hover {
      color        : red;
      border      : none;
      outline     : none;
    }
    &:focus {
      color        :black;
    }
  }

  .cart-item-qty {
    font-size: 1.1em;
  }

  .plus-qty-minus {
    // border: $test2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cart-title {
  text-align: center;
  font-size: 25px;
}

.item-number, .timer {
  font-size: 19px;
  font-weight: bold;
  padding-left: 30px;
  &.item-number {
    color: #eb8102;
    padding-top: 8px;
  }
  &.timer {
    color: green;
  }
}

.headers {
  text-align: left;
  font-size: 19px;
}

.image-to-data {
  display: flex;
  flex-direction: row;
}

.cart-item-image {
  width: 220px;
  height: 220px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.data-below-name {
  color: rgb(78, 78, 78);
}
.cart-item-size, .cart-item-color {
  margin-bottom: 10px;
}

.remove-button {
  color: red;
  border: none;
  background-color: white;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.quantity-and-price {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: black;
}

.align-top-shopping {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.continue-shopping,
.top-continue-shopping {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 14px;
  background-image: linear-gradient(#ff7d14, #ff4e00);
  // background-color: #ff8c00;
  margin-top: 1em;
  // padding: 0 12px;
  border: none;
  border-radius: 4px;
  position: relative;
  height: 30px;
  line-height: 30px;
  color: white;
  box-shadow: 0 2px 2px grey;
  &:hover {
    // background-color: black;
    color: black;
    cursor: pointer;
  }
  &.top-continue-shopping {
    padding: 0 12px;
  }
}

.totals {
  // border: $test3;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 1em;
}

.total-and-sub {
  // border: $test3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.cart-tax-title, .cart-total-title {
  font-size: 1em;
  font-weight: 600;
}

.cart-tax, .cart-total {
  font-size: 1.1em;
  font-weight: 600;
}

.checkout-and-shopping {
  display: flex;
  flex-direction: column-reverse;
  width: 30%;
  margin: auto;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}

.total-end-price {
  color: #eb8102;
}

@media only screen and (max-width: 960px) {

  .background {
    width: 90%;
    height: 90%;

    .cart-item-image {
      width: 180px;
      height: 180px;
    }

    .totals {
      width: 40%;
    }

    .checkout-and-shopping {
      width: 40%;
    }
  }

}

@media only screen and (max-width: 500px) {

  .background {

    .cart-title {
      font-size: 1.2em;
    }

    .item-number, .timer {
      font-size: 0.9em;
      padding-left: 20px;
    }

    .headers {
      font-size: 0.8em;
    }

    .cart-item-image {
      width: 90px;
      height: 90px;
    }

    .item-name {
      font-size: 0.8em;
      margin-bottom: 0.5em;
    }

    .data-below-name {
      font-size: 0.7em;
    }
    .cart-item-size, .cart-item-color {
      margin-bottom: 5px;
    }

    .remove-button {
      font-size: 0.7em;
      .cart-remove-text {
        display: none;
      }
    }

    .plus-qty-minus {
      flex-direction: column-reverse;
    }

    .btn-plus-minus {
      font-size         : 0.8em;
    }
  
    .cart-item-qty {
      font-size: 0.9em;
    }

    .quantity-and-price {
      font-size: 0.9em;
    }

    .totals {
      width: 80%;
    }

    .total-and-sub {
      margin-bottom: 0.5em;
    }

    .cart-tax-title, .cart-total-title {
      font-size: 0.8em;
      font-weight: 600;
    }
    
    .cart-tax, .cart-total {
      font-size: 0.9em;
      font-weight: 600;
    }
    .checkout-and-shopping {
      width: 80%;
    }
    .notes-and-shopping-button {
      width: 80%;
      font-size: 1.3em;
      padding-top: 45%;
    }
  }

}

