.main-layout {
  padding-top: 120px;
  min-height: 100vh;
}

.data {
  width: 70%;
  margin: auto;
  font-family: Raleway, sans-serif;
  letter-spacing: .03em;
  font-size: 16px;
  line-height: 1.6;
}

.list {
  padding-left: 0;
}