.footer-bar {
  margin-top: 2em;
  // background-color: white;
}

.all-footer-content {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: auto;
}

.left-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-buttons {
  border: none;
  color: white;
  background-color: black;
  font-size: 13px;
  padding: 10px 7px;
  font-family: Raleway, sans-serif;
  letter-spacing: .03em;
}

.footer-navs {
  color: white;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}
