@import "src/styles/variables.scss";

.main-layout {
  // padding-top: 120px;
  min-height: 78vh;
  padding-top: 2em;

  .data-title-main {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.6;
  }

  .data-title {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.6;
  }

  .paragraph-data {
    text-align: justify;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16px;
    line-height: 1.6;
  }

  .data {
    // border: $test;
    width: 70%;
    margin: auto;
    font-family: Raleway, sans-serif;
    letter-spacing: .03em;
  }

  .list {
    padding-left: 1em;
    text-align: justify;
  }
}

@media only screen and (max-width: 960px) {
  .main-layout {
    .data {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .main-layout {

    .data-title {
      font-size: 1em;
    }
  
    .paragraph-data {
      font-size: 0.8em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

    .list {
      font-size: 0.8em;
    }
  }
}
