@import "src/styles/variables.scss";

.color-list {
  display: flex;
  justify-content: center;
}

.btn {
  align-self: center;
  margin: 7px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1pt #ccc;

  &:hover {
    cursor: pointer;
  }

  // :focus is not an html element (it's a state of an element). It is a psuedo selector meaning that it goes when u click outside
  // &:focus {
  //   box-shadow: 0 0 0 1.5pt black;
  // }

  &.color-selected {
    // border: $test;
    // border-radius: 50%;
    box-shadow: 0 0 0 1.5pt black;
  }
  
}

.black {
  background-color: black;
}
.grey {
  background-color: DarkGray;
}
.brown {
  background-color: DarkGoldenrod;
}
.navy {
  background-color: navy;
}
.red {
  background-color: red;
}
.blue {
  background-color: DeepSkyBlue;
}
.beige {
  background-color: AntiqueWhite;
}
.white {
  background-color: snow;
}
.purple {
  background-color: blueviolet;
}
.green {
  background-color: LimeGreen;
}
.pink {
  background-color: HotPink;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: DarkOrange;
}

.btn2 {
  align-self: center;
  // margin: 0.2em;
  height: 30px;
  width: 60px;
  // border-radius: 50%;
  border: 0.3em double black;

  &:hover {
    cursor: pointer;
  }
}

// @media only screen and (max-width: 500px) {
//   .single-product {
//     .color-list {
  
//       .btn {
//         align-self: center;
//         margin: 7px;
//         height: 20px;
//         width: 20px;
//         border-radius: 50%;
//         border: 3px solid #fff;
//       }
//     }
//   }
// }