@import "src/styles/variables.scss";

.image-box {
  // border: $test;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8%;
  width: 100%;

  .image-single-product {
    // border: $test;
    align-self: center;
    width: 80%;
  }

  .side-image-single-product {
    // border: $test;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
  }
}

.arrow-b {
  border            : none;
  color             : goldenrod;
  background-color  : transparent;
  align-self: center;
  font-size: 2em;

  &:hover {
    color           : red;
    cursor          : pointer;
  }
}

@media only screen and (max-width: 500px) {

  .image-box {

    .image-single-product {
      width: 75%;
    }

    .arrow-b {
      font-size: 1em;
      }
  }
}