@import "src/styles/variables.scss";

.review-page-main {
  // border: $test;
  font-family: Semplicita,Arial,sans-serif;
  margin-top: 1em;
  // max-width: 43%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-right: 1em;
  // padding-left: 0.5em;
}

.rating-summary {
  border: 2px solid LightSlateGray;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-title-main {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.6;
}

.btn-write-review {
  font-family: Semplicita, Arial, sans-serif;
  font-size: 1rem;
  width: 50%;
  background-color: white;
  color: black;
  margin: 1em;
  padding: 10px;
  white-space: noWrap;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: white;
  }
}

.comments-container {
  // border: $test3;
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .display-comment-section {
    border: 0.5px solid LightSlateGray;
    padding: 1em;
    width: 95%;
    min-height: 100px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow-wrap: break-word;

    .date {
      font-size: 0.7em;
      color: SlateGray;
    }

    .article-comments {
      text-align: justify;
    }
  }

  .comment-headline-rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 0.8em;
  }
}

  .write-review-modal {
    border: 0.5px solid LightSlateGray;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding-left: 1em;
    margin-top: 3em;
    min-width: 30%;
    z-index: 2000;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .write-review-page {
    width: 100%;

    .item-info {
      // border: $test2;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // margin-top: 1em;

      img {
        width: 120px;
        height: 120px;
        margin-right: 1em;
      }

      .data-title {
        font-size: 1.1em;
        font-weight: 600;
        line-height: 1.8;
      }
    }

    .personal-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .review-input {
      margin-right: 2em;
      margin-bottom: 0.5em;
    }

    .comment-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-send-review {
      font-family: Semplicita, Arial, sans-serif;
      font-size: 1rem;
      width: 50%;
      background-color: white;
      color: black;
      margin: 0.3em;
      padding: 10px;
      white-space: noWrap;
      cursor: pointer;
    
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  .btn-close-modal {
    position: absolute;
    top: 0;
    right: 0;
    // border-radius: 50%;
    background-color: Crimson;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 8px 8px;

    &:hover {
      color: black;
    }
  }

  .thanks-page {
    
    font-family: Semplicita, Arial, sans-serif;
    width: 100%;
    width: 40vw;
    height: 25vw;
    margin: 3em;

    .data-title {
      font-size: 1.2em;
      font-weight: 600;
      line-height: 1.6;
    }

    .paragraph-data {
      text-align: justify;
      padding-top: 0.5em;
      font-size: 1.1em;
      line-height: 1.6;
    }
  }

  @media only screen and (max-width: 960px) {

    .review-page-main {
      width: 100%;
    }

    .thanks-page {
      width: 100%;
      width: 55vw;
      height: 35vw;
      margin: 2em;
    }
  }
  
  @media only screen and (max-width: 500px) {
  
    .review-page-main {
      .article-comments {
        font-size: 0.8em;
      }

      .data-title-main {
        font-size: 1.1em;
        font-weight: 600;
        line-height: 1.6;
      }

      .btn-write-review {
        margin: 0.3em;
        border: none;
        background-color: black;
        color: white;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }

    .write-review-modal {
      margin-left: 0.1em;
      margin-right: 0.1em;
      font-size: 10px;
      max-width: 94%;
      height: fit-content;
      width: fit-content;
      position: absolute;
      top: 50%;
      left: 49%;
      transform: translate(-49%, -60%);
    }

    .thanks-page {
      width: 100%;
      width: 60vw;
      height: 40vw;
      margin: 1em;
    }


    .write-review-page {
      .item-info {
       img {
         width: 100px;
         height: 100px;
       }
      }
      .btn-send-review {
        border: none;
        background-color: black;
        color: white;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
    .r-item-name {
      font-size: 1.3em;
    }
  }