@import "src/styles/variables.scss";

.single-product {
  border: $test;
  padding: 1em;
  height: 100vh;
  width: 100vw;
}

.single-box {
  display: flex;
}

.item-details {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


.page-loading {
  height: 100vh;
  width: 100vw;
  background-color: silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plus-counter-minus {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.plus-minus {
  border: none;
  margin: 0 0.2em 0.2em 0.2em;
  background-color: white;
}
.plus-minus:hover {
  transform: scale(1.2);
}

.Desc-title{
  font-weight: 600;
}