@import "src/styles/variables.scss";

.single-product {
  // border: $test;
  padding: 130px 20px;
  // height: 100vh;
  width: 90vw;
  margin: auto;
  font-family: Raleway, sans-serif;
}

.single-box {
  display: flex;
}

.product-image {
  width: 300px;
}
.item-details {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.product-name {
  font-family: Raleway, sans-serif;
  font-size: 1.5rem;
  // font-weight: bold;
  padding-bottom: 0.21429rem;
  padding-top: 50px;
}

.product-price {
  font-size: 1.2rem;
  color: #e57701;
  font-weight: 700;
}

.product-color {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-title {
  padding-bottom: 5px;
}

.product-size-title,
.product-color {
  font-weight: bold;
  font-size: 16px;
}

.add-to-cart {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  width: 50%;
  background-color: #ff8c00;
  color: black;
  margin: 1em auto 0 auto;
  padding: 10px;
  border: none;
  position: relative;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    &:disabled {
      background-color: red;
      // cursor: not-allowed;
    }
  }
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  background-color: rgb(55, 55, 55);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 4px 8px;
  font-size: 15px;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}

.tool-tip-text-disabled {
  display: none;
}

.list {
  font-family: Raleway, sans-serif;
  padding: 0;
  line-height: 140%;
}

.Desc-title {
  font-weight: 600;
  font-family: Raleway, sans-serif;
}
