@import "src/styles/variables.scss";

.single-product {
  // border: $test;
  padding-top: 10px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Raleway, sans-serif;
}

.single-box {
  // border: $test1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.single-box-top {
  // border: $test3;
  width: 100%;
  display: flex;
  
  .single-p-column {
    display: none;
    padding-top: 1em;
    padding-left: 1em;

    .product-name {
      margin-right: 2em;
    }
  }
  .single-p-row {
    display: inline-block;
    padding-top: 30px;
  }
}

.single-product-image {
  // border: $test3;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
}
.item-details {
  // border: $test;
  padding: 3em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.p-color-size {
  // border: $test;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.product-name {
  font-family: Raleway, sans-serif;
  font-size: 1.5rem;
  // font-weight: bold;
  padding-bottom: 0.21429rem;
  margin-bottom: 0.5em;
}

.product-price {
  font-size: 1.2rem;
  color: #e57701;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}


.product-color, .product-size {
  // border: $test1;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-color {
  margin-bottom: 2em;
}

.color-title {
  padding-bottom: 5px;
}

.product-size-title {
  align-self: flex-start;
}

.product-size-title,
.product-color {
  font-weight: bold;
  font-size: 16px;
}

.add-to-cart {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  width: 50%;
  background-color: #ff8c00;
  color: black;
  margin: 1em auto 0 auto;
  padding: 10px;
  border: none;
  position: relative;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    &:disabled {
      background-color: red;
      // cursor: not-allowed;
    }
  }
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  background-color: rgb(55, 55, 55);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 4px 8px;
  font-size: 15px;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}

.tool-tip-text-disabled {
  display: none;
}

.single-product-description {
  
  // border: $test;
  width: 98%;
  margin: auto;

  .list {
    font-family: Raleway, sans-serif;
    line-height: 140%;
  }

  .Desc-title {
    font-weight: 600;
    font-family: Raleway, sans-serif;
  }
}



@media only screen and (max-width: 960px) {

  .single-box {

    .single-box-top {
      flex-direction: column;
      .single-p-column {
        display: inline-block;
        .s-p-sku {
          margin-bottom: 0.5em;
        }
      }
      .single-p-row {
        display: none;
      }
    }
    .single-product-image {
      width: 100%;
    }
    .item-details {
      width: 100%;
      padding: 1em;
    }
    .product-color {
      margin-bottom: 1em;
    }
    
  }

}

@media only screen and (max-width: 500px) {

  .single-box {

    .product-name {
      font-size: 1.1em;
      font-weight: 600;
    }
    .product-price {
      font-size: 1.1em;
      font-weight: 600;
    }
    .s-p-sku {
      font-size: 0.8em;
    }

    .product-color, .product-size {
      width: 80%;
    }

    .product-size-title, .product-color {
      font-size: 0.8em;
    }

    .single-product-description {
      font-size: 0.8em;
    }

    .add-to-cart {
      width: 70%;
    }
  }
}
