@import "src/styles/variables.scss";

.size-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size-list {
  display: grid;
  // border: $test;
  grid-template-columns: 60px 60px 60px 60px;
  grid-auto-rows: 60px;
  align-items: center;
  justify-content: center;
}

.size-box {
  font-family: Raleway, sans-serif;
  border: 1px solid #ccc;
  background-color: snow;
  height: 46px;
  width: 46px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 5px;
  &:disabled {
    cursor: not-allowed;
  }
}

.size-box:hover {
  background-color: lightpink;
  color: white;
  &:disabled {
    background-color: snow;
    color: rgb(191, 191, 191);
  }
}

.selected {
  background-color: lightpink;
}

.lowStockMsg {
  color: red;
}

@media only screen and (max-width: 500px) {

  .size-component {

    .size-list {
      grid-template-columns: 40px 40px 40px 40px;
      grid-auto-rows: 40px;
    }
    .size-box {
      height: 38px;
      width: 38px;
      font-size: 12px;
    }
    .lowStockMsg {
      font-size: 0.7em;
    }
  }
}