* {
  box-sizing: border-box;
}

body {
  // font-family: $font-family;
  color: black;
  // margin: 2em;
}

.layout {
  display: flex;
  min-height: 100vh;
}

// all links
a {
  text-decoration : none;
  color: white;
  &:hover {
    color: black;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
